main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 25px;
    width: 90%;
    height: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    justify-self: center;
}

.homepage-container-header {
    text-align: center;
}

.download-bar {
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 25px;
    padding: 10px;
    border-radius: 25px;
}

.download-fill {
    height: 100%;
    border-radius: 25px;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
    border-radius: 25px;
}

.summarize-button {
    /* Two gradients combined into one background */
    background: linear-gradient(90deg, 
        rgba(25, 118, 210, 1) 0%, rgba(255, 7, 143, 1) 50%,
        rgba(25, 118, 210, 1) 100%);
    
    /* Initial background position and size */
    background-size: 200% 100%;
    background-position: 0% 0%;
    
    /* Apply the transition to background-position */
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.summarize-button:focus {
    background-position: 100% 0%;
    outline: auto;
}

.summarize-button:hover {
    background-position: 100% 0%;
}

#top-coins-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 25px;
    height: fit-content;
    gap: 10px;
}

#top-coins-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.top-coin-info {
    all: unset;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 90%;
    align-self: center;
    justify-self: center;
    margin: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.top-coin-info:focus {
    outline: auto;
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

.top-coin-info:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

.coin-icon-img {
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.coin-icon-div {
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.coin-icon-change {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.coin-change {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 25px;
    width: fit-content;
}

.disclaimer-text {
    color: #808080;
    font-size: 10px;
    text-align: center;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--primary-color);
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}

@keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}

#ai-market-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}